{
  "oidc": {
    "clientID": "xxxxx",
    "authUrl": "example.com/auth",
    "tokenUrl": "example.com/token"
  },
  "devices": [
    {
      "name": "wg_test",
      "mtu": 1420,
      "peers": [
        {
            "url": "example1.com"
        }
      ]
    }
  ]
}
