[Unit]
Description=oauth2-proxy to wiresteward
After=docker.service
Requires=docker.service
[Service]
Restart=on-failure
ExecStart=/bin/sh -c 'docker run --name=%p_$(uuidgen) --rm \
 --net=host \
 -e OAUTH2_PROXY_INSECURE_OIDC_ALLOW_EMPTY_CLIENT_SECRET=true \
 -v /etc/oauth2-proxy/:/etc/oauth2-proxy/ \
 quay.io/oauth2-proxy/oauth2-proxy:${oauth2_proxy_version} --config=/etc/oauth2-proxy/config.cfg'
ExecStop=/bin/sh -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p_)"'
[Install]
WantedBy=multi-user.target
