[Unit]
Description=wiresteward server
After=docker.service network-online.target nss-lookup.target
Requires=docker.service
Wants=network-online.target nss-lookup.target
[Service]
Restart=on-failure
ExecStartPre=-/bin/mkdir -p /etc/wiresteward/
ExecStartPre=-/usr/bin/touch /etc/wiresteward/leases
ExecStart=/bin/sh -c 'docker run --name=%p_$(uuidgen) --rm \
 --net=host \
 --cap-add=NET_ADMIN \
 -v /etc/wiresteward/:/etc/wiresteward/ \
 quay.io/utilitywarehouse/wiresteward:${wiresteward_version} -server'
ExecStop=/bin/sh -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p_)"'
[Install]
WantedBy=multi-user.target
