{
  "address": "${wireguard_cidr}",
  "allowedIPs": ${jsonencode(wireguard_exposed_subnets)},
  "endpoint": "${wireguard_endpoint}:51820",
  "oauthServers": ${jsonencode([for s in oauth_servers : { server = s.server, clientID = s.client_id }])}
}
