[Unit]
Description=wiresteward server
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
[Service]
Restart=on-failure
ExecStart=/opt/bin/wiresteward -server
[Install]
WantedBy=multi-user.target
