[Unit]
Description=wiresteward agent
After=network-online.target
Requires=network-online.target
[Service]
Restart=on-failure
ExecStart=/usr/local/bin/wiresteward -agent
[Install]
WantedBy=multi-user.target
